.newcolor {
  color: #e9e9e9;
}

p a {
  color: #777;
}

footer {
  background-color: #111;
  color: #777;
  font-family: "Open Sans", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

.profile-pic {
  border-radius: 0%;
  width: 200px;
  height: auto;
}

.footer-titles {
  font-size: 16px;
  font-weight: bolder;
}
